body {
  font-family: 'Open Sans', sans-serif; 
}

.header {
  background-color: #4B2E83;
  border: 1px;
  padding: 2.0rem;
  border-radius: 6px;
  color: #FFFFFF;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  color: #4B2E83;
  background-color: #FFFFFF;
  border: 1px;
  padding: 3.0rem;
  border-radius: 6px;
  box-shadow: 5px 5px 2px 5px #4B2E83;
}
