body {
  font-family: 'Open Sans', sans-serif; 
}

.header {
  background-color: #4B2E83;
  border: 1px;
  border-style: solid;
  padding: 0;
  border-radius: 6px;
  color: #FFFFFF;
  margin-bottom: 10px;
  width: 100%;
}

.row {
  display: flex;
}

.leftcolumn {
  flex: 40%;
  color: #4B2E83;
  background-color: #FFFFFF;
  border: 1px;
  padding: 2.0rem;
  border-radius: 4px;
  box-shadow: 3px 3px 2px 3px #4B2E83;
  margin-right: 10px;
  text-align: center;
}

.rightcolumn {
  flex: 40%;
  color: #4B2E83;
  background-color: #FFFFFF;
  border: 1px;
  padding: 2.0rem;
  border-radius: 4px;
  box-shadow: 3px 3px 2px 3px #4B2E83;
  margin-left: 10px;
  text-align: center;
}

/* Recommit */
