* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  padding: 0;
}

.header {
  background-color: #4B2E83;
  border: 5px solid;
  border-radius: 5px;
  color: #FFFFFF;
  margin-bottom: 10px;
  width: 100%;
}

.header h1, .header p {
  margin: 0;
  padding: 5px;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menu {
  flex: 15%;
  background-color: #36215e;
  padding: 1rem;
  color: #FFFFFF;
  min-height: 100vh; 
}

.menu h3 {
  margin-top: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 85%;
  margin: 0;
  padding: 0;
  gap: 0;
}

.column {
  flex: 1 1 40%;
  color: #4B2E83;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 3px 3px 2px 3px #4B2E83;
  margin: 0;
  text-align: center;
  min-width: 200px;
  overflow-wrap: break-word;
  word-break: break-word;

  width: 150px;
  height: 100px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Recommit */
